#nav-dropdown {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  /* //background-color: indigo; */
}

.navbar {
  background-color: #1f1632;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: -50px !important;
  margin-top: -1px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-left: 9rem;
  margin-top: -1px;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 65px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0rem 1rem;
}

.nav-links:hover {
  color: white;
}

/* .nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
} */

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f1632;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    color: #fff;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  /* .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  } */

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }

  /* .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
  } */
}

.rounded-sm {
  background-color: #251d58;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 400;
}

@media (max-width: 575px) {
  .navbar-logo {
    color: black;
    justify-self: start;
    margin-left: -12px;
    margin-top: -26px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
  #nav-dropdown {
    display: block;
    margin: 0 auto;
  }
  .user-image {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar-logo {
    color: black;
    justify-self: start;
    margin-left: -12px;
    margin-top: -26px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
  #nav-dropdown {
    display: block;
    margin: 0 auto;
  }
  .user-image {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-logo {
    color: black;
    justify-self: start;
    margin-left: -12px;
    margin-top: -26px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
  #nav-dropdown {
    display: block;
    margin: 0 auto;
  }
  .user-image {
    display: block;
    margin: 0 auto;
  }
}
/* 
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-logo img {
    color: black;
    justify-self: start;
    margin-left: -120px;
    margin-top: -26px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
} */
