.success-button {
  background-color: green;
  color: #fff;
  padding: 10px 20px !important;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
}

.success-button:hover {
  background-color: darkslateblue;
  color: #fff;
  padding: 10px 20px !important;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
}
